name: Docker Build & Publish

on:
  workflow_call:
    inputs:
      dockerfile:
        required: false
        type: string
        description: "Path to Dockerfile"
        default: "Dockerfile"
      packageName:
        required: false
        type: string
        description: "You can specify a different package name."
        default: "${{ github.repository }}"

env:
  REGISTRY: ghcr.io
  MAINTAINER: ${{ github.repository_owner }}
  DESCRIPTION: "${{ github.repository_owner }} repository ${{ github.repository }}"

jobs:
  prepare-env:
    runs-on: "ubuntu-latest"
    outputs:
      output_short_sha: ${{ steps.setting_env.outputs.short_sha }}
      output_image_name: ${{ steps.setting_env.outputs.image_name }}
      build_for_pr: ${{ steps.setting_logic.outputs.build_for_pr }}
      build_for_merge: ${{ steps.setting_logic.outputs.build_for_merge }}
      not_a_fork: ${{ steps.setting_logic.outputs.not_a_fork }}
    steps:
      - name: Checkout
        uses: "actions/checkout@v4"

      - name: Add vars to ENV
        id: setting_env
        run: |
          echo "SHORT_SHA=`echo ${GITHUB_SHA} | cut -c1-8`" >> $GITHUB_ENV
          echo "short_sha=`echo ${GITHUB_SHA} | cut -c1-8`" >> "$GITHUB_OUTPUT"
          # yamllint disable
          echo "IMAGE_NAME=$(echo ${{ github.repository }} | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV
          echo "image_name=$(echo ${{ github.repository }} | tr '[:upper:]' '[:lower:]')" >> "$GITHUB_OUTPUT"
          # here we validate if we have specified a different package name in
          # the inputs, if so, we change the package to it.
          if [[ ${{ inputs.packageName }} != ${{ github.repository}} ]];then
            # validate the input package name characters
            if [[ ! "${{ inputs.packageName }}" =~ ^[A-Za-z0-9\-]+$ ]]; then
              echo "------------------------------------------------------------"
              echo "ERROR: Package name not valid! => [ ${{ inputs.packageName }} ]"
              echo "ONLY can use: A-Za-z0-9\-"
              echo "------------------------------------------------------------"
              exit 1
            fi
            echo "IMAGE_NAME=$(echo ${{ github.repository_owner }}/${{ inputs.packageName }} | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV
            echo "image_name=$(echo ${{ github.repository_owner }}/${{ inputs.packageName }} | tr '[:upper:]' '[:lower:]')" >> "$GITHUB_OUTPUT"
          fi
          # yamllint enable

      # The key logic that we want to determine is whether or not we are working
      # on a fork and if this is a pull request or merge to main.
      #
      # We care about forks because of github's security policies that prevent
      # forks from pushing images. So we only want to build images on forks
      #
      # The distinction between pull requests and merges to main is that on pull
      # requests we want a single image available quickly for testing. On merges
      # to main we want all the images built and are ok waiting longer to ensure
      # there are not bugs.
      - name: Add logic to ENV
        id: setting_logic
        run: |
          # yamllint disable
          echo "build_for_pr=${{ github.event_name == 'pull_request' }}" >> "$GITHUB_OUTPUT"
          echo "build_for_merge=${{ github.ref == 'refs/heads/main' || github.ref == 'refs/heads/master' || startsWith(github.ref, 'refs/tags/v') }}" >> "$GITHUB_OUTPUT"
          echo "not_a_fork=${{ github.event.pull_request.head.repo.full_name == github.event.pull_request.base.repo.full_name }}" >> "$GITHUB_OUTPUT"
          # yamllint enable

  # Log the key inputs to the logic as well a the outputs. We check that
  # build_for_pr and build_for_merge are never equal as that would indicate a
  # bug.
  logic-check:
    needs: prepare-env
    runs-on: "ubuntu-latest"
    steps:
      - name: Log logic
        run: |
          echo "github.event_name: ${{ github.event_name }}"
          echo "github.ref: ${{ github.ref }}"
          echo "head repo: ${{ github.event.pull_request.head.repo.full_name }}"
          echo "base repo: ${{ github.event.pull_request.base.repo.full_name }}"
          echo "build_for_pr: ${{ needs.prepare-env.outputs.build_for_pr }}"
          echo "build_for_merge: ${{ needs.prepare-env.outputs.build_for_merge }}"
          echo "not_a_fork: ${{ needs.prepare-env.outputs.not_a_fork }}"
      - name: Check logic
        if: ${{ needs.prepare-env.outputs.build_for_pr == needs.prepare-env.outputs.build_for_merge }}
        run: |
          echo "Failing step due to build_for_pr == build_for_merge"
          exit 1

      - name: "Check needs.prepare-env.outputs.build_for_pr"
        if: ${{ needs.prepare-env.outputs.build_for_pr }}
        run: echo "needs.prepare-env.outputs.build_for_pr evaluates to true"
      - name: "Check needs.prepare-env.outputs.build_for_pr == true"
        if: ${{ needs.prepare-env.outputs.build_for_pr == true }}
        run: echo "needs.prepare-env.outputs.build_for_pr == true evaluates to true"
      - name: "Check needs.prepare-env.outputs.build_for_pr == 'true'"
        if: ${{ needs.prepare-env.outputs.build_for_pr == 'true' }}
        run: echo "needs.prepare-env.outputs.build_for_pr == 'true' evaluates to true"

      - name: "Check needs.prepare-env.outputs.build_for_merge"
        if: ${{ needs.prepare-env.outputs.build_for_merge }}
        run: echo "needs.prepare-env.outputs.build_for_merge evaluates to true"
      - name: "Check needs.prepare-env.outputs.build_for_merge == true"
        if: ${{ needs.prepare-env.outputs.build_for_merge == true }}
        run: echo "needs.prepare-env.outputs.build_for_merge == true evaluates to true"
      - name: "Check needs.prepare-env.build_for_merge.build_for_pr == 'true'"
        if: ${{ needs.prepare-env.outputs.build_for_merge == 'true' }}
        run: echo "needs.prepare-env.outputs.build_for_merge == 'true' evaluates to true"

      - name: "Check needs.prepare-env.outputs.not_a_fork"
        if: ${{ needs.prepare-env.outputs.not_a_fork }}
        run: echo "needs.prepare-env.outputs.not_a_fork evaluates to true"
      - name: "Check needs.prepare-env.outputs.not_a_fork == true"
        if: ${{ needs.prepare-env.outputs.not_a_fork == true }}
        run: echo "needs.prepare-env.outputs.not_a_fork == true evaluates to true"
      - name: "Check needs.prepare-env.outputs.not_a_fork == 'true'"
        if: ${{ needs.prepare-env.outputs.not_a_fork == 'true' }}
        run: echo "needs.prepare-env.outputs.not_a_fork == 'true' evaluates to true"

  docker-security:
    needs: ["prepare-env", "logic-check"]
    runs-on: "ubuntu-latest"
    steps:
      - name: Checkout
        uses: "actions/checkout@v4"

      - name: Build and Push
        uses: docker/build-push-action@v5
        env:
          OUTPUT_SHORT_SHA: ${{ needs.prepare-env.outputs.output_short_sha }}
          OUTPUT_IMAGE_NAME: ${{ needs.prepare-env.outputs.output_image_name }}
        with:
          context: .
          push: false
          platforms: linux/amd64
          # we're building the container before the scan, use the short sha tag
          # for referring to it later
          tags: ${{ env.OUTPUT_IMAGE_NAME }}:${{ env.OUTPUT_SHORT_SHA }}
          file: ${{ inputs.dockerfile }}

      - name: Run Trivy vulnerability scanner
        # source: https://github.com/aquasecurity/trivy-action
        # https://github.com/marketplace/actions/aqua-security-trivy
        uses: aquasecurity/trivy-action@master
        env:
          OUTPUT_SHORT_SHA: ${{ needs.prepare-env.outputs.output_short_sha }}
          OUTPUT_IMAGE_NAME: ${{ needs.prepare-env.outputs.output_image_name }}
        with:
          # here we use the local tag that we've built before
          image-ref: "${{ env.OUTPUT_IMAGE_NAME }}:${{ env.OUTPUT_SHORT_SHA }}"
          format: "table"
          #exit-code: '1' # uncomment to stop the CI if the scanner fails
          ignore-unfixed: true
          vuln-type: "os,library"
          severity: "CRITICAL,HIGH"

  docker-build:
    runs-on: "ubuntu-latest"
    # wait until the jobs are finished.
    needs: ["prepare-env", "logic-check", "docker-security"]
    permissions:
      contents: write
      packages: write

    steps:
      - name: Checkout
        uses: "actions/checkout@v4"

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract Docker Metadata
        id: meta
        uses: docker/metadata-action@v5
        env:
          OUTPUT_SHORT_SHA: ${{ needs.prepare-env.outputs.output_short_sha }}
          OUTPUT_IMAGE_NAME: ${{ needs.prepare-env.outputs.output_image_name }}
        with:
          images: ${{ env.REGISTRY }}/${{ env.OUTPUT_IMAGE_NAME }}
          # yamllint disable
          labels: |
            maintainer=${{ env.MAINTAINER }}
            commitUrl=https://github.com/${{ github.repository }}/commit/${{ github.sha }}
            dockerPull=docker pull ${{ env.REGISTRY }}/${{ github.repository }}:${{ env.OUTPUT_SHORT_SHA }}
            org.opencontainers.image.description=${{ env.DESCRIPTION }}
          tags: |
            # output minimal (short sha)
            type=raw,value={{sha}}
            # output v0.2.1/v*-* (or sha of no tag)
            type=semver,pattern={{raw}}
            # pull request event
            type=ref,enable=true,prefix=pr-,suffix=,event=pr
          # yamllint enable

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Build amd64 images always, and publish when it is not a fork. The Github
      # security model prevents forks from pushing to the registry so we can
      # only push if the branch/PR is not generated from a fork. Even though
      # forks can't push, we still want to try and build the image to catch
      # bugs. For testing purposes we only need an amd64 image.
      - name: "Pull Request Trigger: Build and Push amd64 Docker Image"
        if: ${{ needs.prepare-env.outputs.build_for_pr }}
        uses: docker/build-push-action@v5
        env:
          OUTPUT_SHORT_SHA: ${{ needs.prepare-env.outputs.output_short_sha }}
          OUTPUT_IMAGE_NAME: ${{ needs.prepare-env.outputs.output_image_name }}
        with:
          context: .
          # We don't use the cache to reduce complexity. We've seen issues of
          # the same commit from a PR and on main causing incorrect images being
          # built.
          no-cache: true
          provenance: false
          platforms: linux/amd64
          # Only push if the head and base repos match, meaning it is not a fork
          push: ${{ needs.prepare-env.outputs.not_a_fork }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          file: ${{ inputs.dockerfile }}

      # Build and Publish images on main, master, and versioned branches.
      #
      # The reason we split out these steps into 2 is for better handling of
      # forks when building amd64 images and to enable faster availability of
      # the amd64 image since building the arm64 image takes significantly
      # longer.
      - name: "Merge on Main Trigger: Build and Push All Docker Images"
        if: ${{ needs.prepare-env.outputs.build_for_merge }}
        uses: docker/build-push-action@v5
        env:
          OUTPUT_SHORT_SHA: ${{ needs.prepare-env.outputs.output_short_sha }}
          OUTPUT_IMAGE_NAME: ${{ needs.prepare-env.outputs.output_image_name }}
        with:
          context: .
          # We don't use the cache to reduce complexity. We've seen issues of
          # the same commit from a PR and on main causing incorrect images being
          # built.
          no-cache: true
          platforms: linux/amd64,linux/arm64
          provenance: false
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          file: ${{ inputs.dockerfile }}
